.formbox{
  border:2px solid rgb(224, 217, 217); 
  margin-top:20px ;
  padding:10px ;
  display: flex;
  justify-content: center;
}
.name{
  display:flex;
  justify-items: center;
  justify-content: flex-start;
}
.first{
  position:relative
}
.span{
  position: absolute;
}
.last{
  position: relative;
}
.checked {
    color:rgb(241, 185, 166);
  }
  .p{
    font-family:'Courier New', Courier, monospace;
  }
  .tableslikely{
    table-layout:fixed;
  }
  .radio{
    text-align: center;
  }
  